
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Autor</h3>
  </div>
  <div class="panel-body">
	<img src="/images/foto.png">
	<p>Juan Carlos Esquivel Ojeda</p>    
  </div>
</div>


